.App {
  /* text-align: center; */
    background-color: #4f5255;

}





.App-header {
  background-color: #424446;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}


